{% extends 'base.html.twig' %}

{% block main %}

    <h1 class="text-center">Création d'Articles</h1>

    <br><br>

    <div class="text-center">
        <form method="post" action="../create_articles.php" class="">
            <input type="text" name="name" class="form-control" placeholder="Titre de l'article"><br>
            <textarea name="content" class="form-control" cols="30" rows="9" placeholder="Contenu d'article"></textarea><br>

            <div class="input-group">
            <input type="text" name="date" class="form-control" placeholder="date">
            <select class="custom-select" name="status">
                <option selected value="0">Brouillon</option>
                <option value="1">Publié</option>
            </select>
            </div><br>
            <input type="submit" class="btn btn-outline-warning" value="Créer un article">
        </form>
    </div>
{% endblock %}