{% extends 'base.html.twig' %}

{% block main %}

<h1 class="text-center">Modification d'Articles</h1>

    <br><br>

    <div class="text-center">
        <form method="get" action="../edit_articles.php" class="">
                <input type="hidden" name="id" value="{{ id }}">
                <input type="text" name="name" class="form-control" value="{{ name }}"><br>
                <textarea name="content" class="form-control" cols="30" rows="9">{{ content }}</textarea><br>
            <input type="submit" class="btn btn-outline-warning" value="Editer">
        </form>
    </div>
{% endblock %}