{% extends 'base.html.twig' %}

{% block main %}

    <h1>Articles</h1>


        <div class="text-center">
            <h2>{{ name }}</h2>
            <p class="small">{{ content }}</p>
            <br>
            <label><i>Publié le : {{ date }}</i></label>

        </div>


{% endblock %}